{% if post.layout != post %}
  {% assign words = post.content | strip_html | size | divided_by:3 %}
  {% if words < 180 %}
    less than 1 minute read
  {% elsif words < 360 %}
    1 minute read
  {% else %}
    {{ words | divided_by:180 }} minute read
  {% endif %}
{% endif %}

{% if post.layout == post %}
  {% assign words = content | size | divided_by:3 %}
  {% if words < 180 %}
    less than 1 minute read
  {% elsif words < 360 %}
    1 minute read
  {% else %}
    {{ words | divided_by:180 }} minute read
  {% endif %}
{% endif %}
